#container{
  position: relative;
  margin-top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center !important;
  align-items: center;
  resize: both;
  width: calc(50vw + 2em);
  height: calc(35vw + 2em);
  background: rgba(0, 0, 0, 0.3);

  .card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    width: 90%;
    height: 90%;
    border: 2px solid white;
    background: transparent;

    .hide{
      opacity: 0;
    }

    .show{
      opacity: 1;
    }

    .card{
      padding: 0 20px;
      width: 90%;
      height: 90%;
      transition: opacity 2s ease;
      background: rgba(0, 0, 0, 0.3);

      #text{
        margin: 10% auto;
        font-size: calc(0.5em + 1.5vw);
        text-align: center;
        color: white;
        line-height: 1;
        margin-bottom: 4%;
        user-select: all;
        cursor: default;
      }

      #Q{
        font-size: calc(0.5em + 3.5vw);
        color: $color;
        user-select: none;
      }

      #subs{
        margin: 0% 2%;
        padding: 8px;
        display: flex;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.3);

        #author{
        user-select: none;
        text-align: right;
        color: $color;
        font-size: calc(0.5em + 1.3vw);
        line-height: 1.1;
        }

        #icons{
          width: 20%;
          display: flex;
          justify-content: space-between;

          #copy-quote{
          color: $color;
          font-size: calc(0.5em + 1.5vw);
          cursor: pointer;
          }

          #tweet-quote{
          color: $color;
          font-size: calc(0.5em + 1.5vw);
          margin-left: -50%;
          cursor: pointer;
          }
        }


      }

    }
  }
}
