@import url('https://fonts.googleapis.com/css?family=Exo');

$color: #e67300;


body{
  height: 100%;
  background: black; //fallback
  background-image: url('https://preview.ibb.co/i6674f/yann-allegre-1140242-unsplashedited.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Exo;
  overflow-y: hidden !important;
  cursor: default;
}
